
.base{
    background-color: #899E8B;
}

.accent{
    background-color: #607562;
}

.gray{
    background-color: #272727;
}

.whitetext{
    color: white;
}

.about-text{
    font-size: 15px;
    text-align: justify;
}